@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

@if (TempData["alert"] != null) {
  <p>@TempData["alert"]</p>
}

<h2>Add a flavor</h2>

<h4>Add a flavor tag to this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn" />
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>
