@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h3>Add a new Treat:</h3>
<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { required = "required" })
  <br>
  <br>
  @Html.LabelFor(model => model.Ingredients)
  @Html.TextBoxFor(model => model.Ingredients, new { required = "required" })
  <br>
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { type ="list", required = "required" })
  <br>
  <br>
  @Html.Label("Add Flavor to treat:")
  @Html.DropDownList("FlavorId")
<br>
<br>
<input type="submit" value="Create Treat" class="btn" />
}
