@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>Edit</h2>
<hr />
<h4>Edit this Treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId) //pass Item ID to controller so it know which item to edit

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Ingredients)
  @Html.EditorFor(model => model.Ingredients)
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)
  <br>
  <br>
  <input type="submit" value="Save" class="btn"/>
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>
