@{
  Layout = "_Layout";
}

@using SweetAndSavory.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <p>@Html.LabelFor(user => user.Name) 
  @Html.TextBoxFor(user => user.Name)</p>
  <br>
  <p>@Html.LabelFor(user => user.Email) 
  @Html.TextBoxFor(user=> user.Email)</p>
  <br>
  <p>@Html.LabelFor(user=> user.Password) 
  @Html.PasswordFor(user=> user.Password)</p>
  <br>
  <p>@Html.Label("Confirm Password") 
  @Html.PasswordFor(user=> user.ConfirmPassword)</p>
  <br>
  <input type="submit" value="Register" class="btn" />
}